
<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> Create New Product </h1>
        </div>
        <%= form_with(model: request, local: true) do |form| %>
          <div class="row">
            <%= render "/layouts/alerts" %>
          </div>
          <div class="create-offer-data">
            <div class="col-sm-12 col-md-4">
              <div class="form-group" >
                <p> Request Type  </p>
                <%= form.select :request_type, options_for_select(["Create Offer","Create Request"]),{}, {:class=>"form-control",:required=>true } %>
              </div>
            </div>

            <%= form.hidden_field :user_id,:value=>current_user.id %>

            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <p> Area </p>
                <%= form.select :area_id, options_for_select(Area.pluck(:name,:id)),{}, {:class=>"form-control",:required=>true } %>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <p> Category  </p>
                <%= form.select :category_id, options_for_select(Category.pluck(:title,:id)),{}, {:class=>"form-control",:required=>true } %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <p> Name of product of an offer (what is being offered?) </p>
                <%= form.text_field :name,:class=>"form-control",:required=>true %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <p> Region </p>
                <%= form.text_field :region,:class=>"form-control",:required=>true %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <p> Description </p>
                <%= form.text_area :description,:class=>"form-control",:required=>true %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group ">
                <p> Date of Manufacture </p>
                <%= form.date_select :manufacture_date,:class=>"form-control" %>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <p> Quantity  </p>
                <%= form.text_field :quantity,:class=>"form-control" %>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <p> Unit Bag  </p>
                <%= form.select :convertible_unit_id, options_for_select(ConvertibleUnit.pluck(:en_name,:id)),{}, {:class=>"form-control",:required=>true } %>
              </div>
            </div>


            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <p> Currency  </p>
                <%= form.select :currency_id, options_for_select(Currency.pluck(:title,:id)),{}, {:class=>"form-control",:required=>true } %>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <p> Price  </p>
                <%= form.text_field :price,:class=>"form-control",:required=>true %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group form-field2">
                <p> Image URL </p>
                <input type="file" name="">
                <!-- <button>Delete</button> -->
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group form-field2">
                <p> Document Description </p>
                <input type="text" name="" class="form-control">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group form-field2">
                <p> Document (PDF Only) </p>
                <input type="file" name="">
                <!-- <button>Delete</button> -->
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <%= form.submit 'Create Request',:class=>"btn btn-primary"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "/shared/sidebar" %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $("#request_area_id").on('change', function(){
      $.ajax({
        url: "/get_categories",
        type: "GET",
        data: {area_id: $(this).val()},
        success: function(data) {
          $("#request_category_id").children().remove();
          var listitems = []; 
          $.each(data,function(key, value) { 

            listitems += '<option value="' + value.id+ '">' + value.title + '</option>'; 
          }); 
          $("#request_category_id").append(listitems);
        }
      })
    });
  });

</script>